DB_USERNAME=root
DB_PASSWORD=password
DB_NAME=noteswebapp

DB_URL=jdbc:mysql://db:3306/noteswebapp
SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}

JWT_KEY=your_jwt_secret_here